body {
	margin: 0px;
	padding: 0px;
}

.content-header {
	width: 1300px;
	margin: auto;
}

.logo {
	float: left;
}

.h-main {
	float: right;
	margin-left: 0px;
	padding: 0px;
	color: #fff;
}

.h-main .h-phone {
    color: #fff;
    font-family: 'icomoon';
    font-size: 22px;
    right: 10px;
}


header {
	height: 80px;
}

.section-top {
	background-image: url('recursos/uploads/banner/banner_2.jpg'); 
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	padding-top: 50px;
}

.contacto {
	float: right;
	top: -380px;
	width: 300px;
	position: relative;
	text-align: left;
	background-color: rgba(255,255,255,-4);
	color: #fff;
	font-family: 'Verdana';
	padding: 10px;
}

.input {
	width: 280px;
	padding: 8px;
}

.button {
	background-color: #00aced;
	padding: 8px;
	color: #fff;
	border:0px;
}

.center-text{
	text-align: center;
}

.margin-top {
	margin-top: 40px;
}

a{
	text-decoration: none;
}

